RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^https://gabed.net/iloader/twitch-clip-downloader [NC,OR]
RewriteCond %{HTTP_HOST} https://www.gabed.net/iloader/twitch-clip-downloader [NC]
RewriteRule ^(.*)$ https://web-hh-slackin.herokuapp.com/$1 [L, R=301,NC]
